    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">CrimeAnalysis</a>
            <ul class="navbar-nav me-auto ml-3">
                <li class="nav-item">
                    <a href="/" class="nav-link">Algorithms</a>
                </li>
                <li class="nav-item">
                    <a href="/makecrimeanalysis" class="nav-link">MakeCrimeAnalysis</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>