{% extends "layout.html" %}

{% load static %}

{% block page_title %}
Blog
{% endblock page_title %}

{% block content %}

{% block own_css_files %}



{% endblock own_css_files %}

<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <!--menu-->
            {% include "algorithms/partials/_categories.html" %}
        </div>
        <div class="col-9">
            <!--content-->
            <h1>Blog Screen</h1>
        </div>
    </div>
</div>



{% endblock content %}


